.App {
  font-family: sans-serif;
  text-align: center;
}
.body{
  font-size: 14px;
  background-image: url("/geometric-leaves.png");
  background-repeat: repeat-x;
}
.columnRow{
  display: flex;
  flex-direction: row;
}
.box-content{
  margin-top: 50px;
}
.columnGame{
  min-width: 300px;
}
.content > div {
  margin-bottom: 10px;
}
.box-content .content .header{
  color: #fe414d ! important;
  line-height: 24px ! important;
}
.box-content .meta .date{
 font-weight: bold;
 color: #000000 ! important;
 font-size: 14px;
}
.blue-text{
  color: #2185D0 !important;
  margin-left: 10px;
}
.logo-icon{
  font-size:18px
}